body {
    background-color: #30a3ea;
}
h1,h2,h3 {
    font-family: 'Shrikhand', cursive;
}
#burgerPic {
    max-width: 250px;
    display: block;
    margin: auto;
}
p {
    text-emphasis: bold;
    font-size: 1.5rem;
}



